
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header" style="padding: 5px;">
        <a href="/cinema">
          <img src="../assets/blue-ticket-png-pic-27.png" height="70" width="120">
        </a>
      </div>
      <ul style="padding-top: 10px; font-weight: bold; float: right;"  class="nav navbar-nav">
        <li ><a routerLink="/cinema" routerLinkActive="style='color: white'">Cinema</a></li>
        <li><a routerLink="/Staduim" routerLinkActive="style='color: white'">Staduim</a></li>
        <li><a routerLink="/Theatre" routerLinkActive="style='color: white'">Theatre</a></li>
      </ul>
    </div>
  </nav>
<router-outlet>
</router-outlet>
